<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mehrad Akbari</title>
</head>
<body>
  <ul>
    <li><a href="/CPA">CPA Students</a></li>
    <li><a href="/highGPA">Highest GPA</a></li>
    <li><a href="/allStudents">All Students</a></li>
    <li><a href="/addStudent">Add a new Student</a></li>
    <li>Local Specific student by student Id,eg..<br> http://localhost:8080/student/3</li>
    <li>
      <a href="/student/3">Student number 3</a>
    </li>
  </ul>
  <hr>

{{{body}}}

<hr>

<h2>Student Honor Pledge:</h2><br>

<p>I acknowledge the Colleg's academic integrity policy.<br>
 On My honor, I hvae neither given or recived unauthorized aid on this test. <br>

<p style="display:inline-block">Name: </p><p style="background-color: yellow;display:inline-block ;", ><b>Mehrad Akbari</b></p><br>
<p style="display:inline-block">Student ID: </p><p style="background-color: yellow;display: inline-block;"><b>130077217</b></p>



</body>
</html>